@layer reset, base;

@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1rem;
    }
}

@layer base {
    :root {
        width: fit-content;
        font-family: monospace, sans-serif;
    }

    body {
        all:unset;
        margin-inline: 0.5rem;
        font-family: monospace, sans-serif;
        main {
            h6 {
                all: unset;
                font-size: inherit;
            }

            section {
                margin-block-end: 0.5rem;
                padding-block-end: 0.5rem;
                border-block-end: 1px solid green;

                p {
                    span {
                        all:unset;
                        padding-inline: 5px;
                    }
                    em {
                        font-size: 75%;
                    }
                }


            }
        }
    }
}

